# Server configuration
PORT=4000

# Database Configuration
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
# Contoh untuk Hostinger: mysql://u818194417_ciptasehat_user:password_anda@localhost:3306/u818194417_ciptasehat
DATABASE_URL="mysql://root:root@localhost:3306/u818194417_ciptasehat"

# JWT Secret untuk autentikasi login (Ganti dengan string acak yang panjang di server produksi)
JWT_SECRET="ganti_dengan_secret_super_aman_anda"
